body{
    background-color: antiquewhite;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
h1{
    text-align:center;
    color:black;
    font-size:50px;
    font-weight:normal;
}
p1{
    text-align:center;
    color:burlywood;
    font-size:small;
}
.recipes{
    display:flexbox;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    color:brown;
    text-decoration:solid;
    font-size:small
}
li{
    color:brown;

}
a:hover{
    color:black;
}

